body{
    margin: 0;
    padding: 0
}

.container{
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    background-color: #d0d0d0
}


a{
    text-decoration: none;
}

ul{
    margin-left: 0;
    padding-left: 0;
    list-style: none
}

ul li {
    float: left;
    background-color: green;
    margin: 1px;
    width: calc(100% / 5 - 1 * 5)
}



.clearfix:after,
.clearfix:before
{
    content: " ";
     display: block;
     clear: both;
    
}



.clearfix {
    display: block;
}





.text-center{
    text-align: center;
}










